!!!
%html
	%head
		%title A free whois API service
	%body
		%p Just enter a URL, to do a WHOIS lookup.

		%form{ :action => "/lookup", :method => "get"}
			%input{ :type => "text", :name => "url"}
			%input{ :type => "submit", :value => "Lookup Whois"}
