!!!
%html
	%head
		%title A free whois API service
	%body
		%p "Go to whois.com/jasonormand.com"

		%form{ :action => "/lookup", :method => "get"}
			%input{ :type => "text", :name => "url"}
			%input{ :type => "submit", :value => "Lookup Whois"}
