!!!
%html
	%head
		%title A free whois API service
	%body
		%div{:style => "border: solid 5px black; padding: 15px; margin-bottom: 15px;"}
			= @lookup_url
		%div{:style => "border: solid 5px black; padding: 15px;"}
			= @lookup_info
			
