body {
  font-size: 14px;
  background: #dedede;
}

p {
  margin: 0;
}

.info {
  width: 500px;
  margin: 0 auto 15px auto;
  padding: 15px;
  border: solid 1px #ccc;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

p.title {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0 0 10px 0;
  padding-bottom: 3px;
  border-bottom: solid 1px #ccc;
}